.main {
    padding: 0 10%;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 50%;

        input {
            color: black;
            margin: 5px;
        }

        .abilities {
            display: flex;
            flex-direction: column;
            input {
                color: black;
                margin: 5px;
            }
        }
    }
}
